body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  h2 {
       /* Add underline to h2 and h3 elements */
      padding-bottom: 5px; /* Add some spacing below the underline */
      text-align: center;
    }
  
  header {
    background-color: #201d1d;
    color: #fffafa;
    padding: 20px 0;
    text-align: center;
  }

  header nav ul {
    list-style: none;
    padding: 0;
  }
  header nav ul li a {
    color: #adf505;
    text-decoration:none;
    display:inline;
  }

  header nav ul li {
    display:inline;
    margin-right: 50px;
    margin-left: 50px;
  } 
  .section {
    display: flex;
    flex-direction: column;
    text-align: left; 
  }
  .project {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 0%;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
  }
  