body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  h2 {
       /* Add underline to h2 and h3 elements */
      padding-bottom: 5px; /* Add some spacing below the underline */
      text-align: center;
    }


.skills-box {
  border: 2px solid #ddd; /* Border style */
  padding: 20px; /* Padding around the content */
  background-color: #eee9e9; /* Background color */
  border-radius: 5px; /* Rounded corners */
}

.skills-box ul {
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
}

.skills-box ul li {
  margin-bottom: 10px; /* Add spacing between list items */
}

.project-box {
  border: 2px solid #ddd; /* Border style */
  padding: 20px; /* Padding around the content */
  margin-bottom: 20px; /* Add spacing between project boxes */
  border-radius: 5px; /* Rounded corners */
  background-color: #eee9e9;
}

.project {
  margin-bottom: 20px; /* Add spacing between projects */
}

.project h3 {
  margin-top: 0; /* Remove default margin */
}

.project p {
  margin-bottom: 10px; /* Add spacing between paragraphs */
}

.learn-more-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e9900a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.learn-more-btn:hover {
  background-color: #0056b3;
}

.education-box {
  border: 2px solid #ddd; /* Border style */
  padding: 20px; /* Padding around the content */
  margin-bottom: 20px; /* Add spacing between education boxes */
  border-radius: 5px; /* Rounded corners */
  background-color: #eee9e9;
}

.education-item {
  margin-bottom: 20px; /* Add spacing between education items */
}

.education-item h3 {
  margin-top: 0; /* Remove default margin */
}

.education-item p {
  margin-bottom: 10px; /* Add spacing between paragraphs */
}

.about-box {
  border: 2px solid #ddd; /* Border style */
  padding: 20px; /* Padding around the content */
  border-radius: 5px; /* Rounded corners */
  background-color: #eee9e9;
}

  header {
    background-color: #201d1d;
    color: #fffafa;
    padding: 20px 0;
    text-align: center;
  }

  header nav ul {
    list-style: none;
    padding: 0;
  }
  header nav ul li a {
    color: #adf505;
    text-decoration:none;
    display:inline;
  }

  header nav ul li {
    display:inline;
    margin-right: 30px;
    margin-left: 30px;
  } 
  .section {
    display: flex;
    flex-direction: column;
    text-align: left; 
  }
  .project {
    margin-bottom: 20px;
  }


  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
